<p>Please login</p>

<form [formGroup] = "reactiveForm">
    <label for = "studentId">Student ID: </label><br>
    <input type = "text" placeholder = "student ID" formControlName = "studentid"><br>
    <label for = "password">Password: </label><br>
    <input type = "password" placeholder = "password" minlength = "4" formControlName = "password"><br><br>
    <div class="row">
    <input type = "submit" (click) = "login()" name = "submit">
    <button (click) = "close()">Cancel</button>
  </div>
</form>
